[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "public"]
	path = public
	url = https://github.com/FenryrMKIII/hugo-gh-pages-public
[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/uPagge/uBlogger
